@import "../generales/variables";

.bajada {
    background-image: url(../images/plata.png);
    background-size: cover;
    background-position: $align;
    padding: 190px 0px;
    text-align: center;

    @media screen and (max-width: 850px) {
        font-size: 17px;
    }

    .botones {
        text-align: $align;
        text-shadow: 2px 2px 2px greenyellow;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        font-weight: 800;
    }
   


    h1 {
        font-size: 60px;

        @media screen and (max-width: 850px) {
            font-size: 35px;
        }
    }

    h1, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    }

    
}

