@import "../generales/variables";
@import "../generales/generales";

#Mapa {
    background-image: url(../images/fondo.png);
    text-align: center;
    padding: 10%;
    font-size: 40px;
    height: 100%;

    .titulo-mapa {
        text-align: $align;
        font-size: 45px;
        padding-bottom: 1.5%;

        @media screen and (max-width: 650px) {
            font-size: 17px;
            
        }
    }

    .el-mapa {
        
        @media  screen and (max-width: 650px) {
            width: 250px;
            height: 150px;

        }
    }
}

/* Propiedades del Audio */
#tarjetas {
    background-color: $bg-color;
    text-align: $align;
    padding: 2.5%;
    font-size: 30px;
    margin: 1%;

    .titulo-audio {
        margin: 1.5%;
        font-size: 3rem;
    }

    @media screen and (max-width: 450px) {
        width: 30px;
        height: 40px;
    }
}


/* Propiedades del Audio */