@import "../generales/variables";



.casas {
    background-color: blanchedalmond;
    color: black;
    text-shadow: 4px 4px 4px $bg-color;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: $align;
    padding: 2% 2% 2% 2%;
    font-weight: 600;

    @media screen and (max-width: 650px) {
        font-size: 20px;
    }
}