* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(14, 12, 12);
}

html {
    scroll-behavior: smooth;
}

img {
    margin: .2em;
}


/*Sombra y color de Texto en h1, h3 y footer */
h1,h3,footer,#audios, #videos, .cards {
    text-shadow: 4px 4px 5px black;
    color: blanchedalmond;
}
/*Sombra y color de Texto en h1, h3 y footer */